---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import LiveCounter from "../components/LiveCounter.jsx";
import BookHero from "../components/BookHero.astro";
import Donations from "../components/Donations.astro";
import Location from "../components/Location.astro";
import CarteleraSlider from "../components/CarteleraSlider.astro";

---

<Layout>
    <main>
        <Hero />

        <div class="relative z-50 -mt-20">
            <LiveCounter client:load />
        </div>

        <!-- Integración del nuevo componente de Cartelera  -->
        <CarteleraSlider />
        <div class="pt-8 relative z-10">
            <Location />
            <Donations />
        </div>

        <div class="relative z-10 mt-12 mb-0">
            <BookHero
                secondaryCta={{
                    text: "Ver página del libro",
                    link: "/libro",
                }}
            />
        </div>
    </main>
</Layout>
